.container {
  display: grid;
  grid-template-columns:
    1fr
    minmax(0, 1140px)
    1fr;
  row-gap: 1rem; /* Adds vertical spacing between grid rows */
}

.content {
  grid-column: 2;
  padding: 2rem;

  display: grid;
  row-gap: 1rem;
}
